<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly name="System.Data" #>
<#@ assembly name="System.Xml" #>
<#@ assembly name="System.Linq" #>
<#@ assembly name="System.IO" #>
<#@ assembly name="EPPlus.dll" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Xml" #>
<#@ import namespace="System.Data" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="OfficeOpenXml" #>
<#@ import namespace="System.Collections.Generic"#>
<#@ include file="EF.Utility.CS.ttinclude"#>
<#@ include file="ModelManager.ttinclude"#>
<#
    var	fileManager = EntityFrameworkTemplateFileManager.Create(this);
    var manager = new Manager();
    var path = @"C:\Work\{path}\ModelTemplate.xlsx";
    manager.Init(path);
    foreach(var name in manager.ModelNames){
    fileManager.StartNewFile(name + "Model.cs");#>
//------------------------------------------------------------------------------
// CreateTime <#=DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")#> by hal tan
//-----------------------------------------------------------------------------

using System.Collections.Generic;
using System.ComponentModel;
using System;
using System.ComponentModel.DataAnnotations;
using System.ComponentModel.DataAnnotations.Schema;

namespace Model
{   
   [Table("<#=name#>")]
   public partial class <#=name#>
    {
      <# foreach(var item in manager.GetModelTemplates(path,name)){#>
       
        /// <summary>
        /// <#=item.ChineseName#>
        /// </summary>
        <# if(item.Key == "是"){#>
        [Key]
        <#}#>
        <# if(item.IsRequired == "是"){#>
        [Required]
        <#}#>
        <# if(item.Type.ToLower() == "string" && !string.IsNullOrWhiteSpace(item.Length)){#>
        [StringLength(<#=item.Length#>)]
        <#}#>
         <# if(!string.IsNullOrWhiteSpace(item.Remark)){#>
        [Description("<#=item.Remark#>")]
        <#}#>
        public <#=item.Type#> <#=item.EnglishName#> { get; set ; }

      <#}#> 
      }
}
<#} fileManager.Process();#> 
