
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/canvas/canvas.css" rel="stylesheet" />
</head>
<body>
    <div class="row" style="margin:20px">
        <div class="col-6">
            <h3>
                SignalR Test Page
            </h3>
        </div>
        <div class="col-12">
            <span>
                You can send message to server and get response from signalr server ,
                and response list also show logs pushed by server.
            </span>
        </div>
        <br />
        <br />
    </div>
    <div class="row" style="text-align:left;margin:50px;margin-bottom:20px;margin-top:20px;">
        <div class="input-group">
            <label class="col-1">User</label>
            <div class="col-4"><input type="text" class="form-control" id="userInput" /></div>
        </div>
        <br /><br />
        <div class="input-group">
            <label class="col-1">Message</label>
            <div class="col-4"><input type="text" class="form-control" id="messageInput" /></div>
        </div>
        <br /><br />
        <div class="input-group">
            <div class="col-2">
                <input type="button" class="btn btn-primary" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 alert alert-primary">
            <span>Server Response List</span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
    <script src="~/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/content/signalr/dist/browser/signalr.js"></script>
    <script src="~/content/signalr/signalRtest.js"></script>
    <script src="~/content/canvas/canvas.js"></script>
</body>
</html>
<canvas id="canvas"></canvas>
